/* .banner {
    background-image: url('https://img.freepik.com/free-photo/man-fixing-motorcycle-modern-workshop_158595-8087.jpg?t=st=1653207037~exp=1653207637~hmac=32e7534f7b2d9706d376e216ec2d087453d528440368188ca54e93ce28fa94b2&w=740');
    background-repeat: no-repeat;
    background-size: cover;

} */